In [8]:
from sklearn.linear_model import LogisticRegression as LR
from sklearn import datasets
import numpy as np
from copy import deepcopy
import pandas as pd
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
from sklearn import metrics
import random

In [175]:
def rate_feature(f,choice):
    df=(train[["is_female",f]])
    # df[ :,lambda dh
    feature = df.loc[df[f] ==choice]
    a = list(feature["is_female"])
    return a.count(1) * 1.0 / len(a)

In [176]:
f = "FF14_1"
choice = 1
rate_feature(f,choice)

0.4630669546436285

In [135]:
metrics.roc_auc_score(Y_train_input, y_result)

0.77418015201759749

In [133]:
y_result = trivial_model(df)

In [132]:
def trivial_model(test):
    test2 = deepcopy(test)
    test2['result'] = np.where(test2['DL1']== 7, 1, 0)
    random.seed(a=3)
    return np.where(test2['DL1']== 7, 1, random.randint(0,1))

In [15]:
train2 = deepcopy(train)
test2 = deepcopy(test)

train.head()

# drop the nas by "any" or "all"
t_nona = train.dropna(axis = 1, how = "any")
t_nona.head()

,train_id,AA3,AA4,AA5,AA6,AA7,AA14,AA15,DG1,is_female,...,GN1,GN1_OTHERS,GN2,GN2_OTHERS,GN3,GN3_OTHERS,GN4,GN4_OTHERS,GN5,GN5_OTHERS
0,0,3,32,3.0,NaN,323011,3854,481,1975,1,...,99.0,NaN,99,NaN,99,NaN,99,NaN,99,NaN
1,1,2,26,NaN,8.0,268131,2441,344,1981,1,...,NaN,NaN,1,NaN,2,NaN,2,NaN,2,NaN
2,2,1,16,NaN,7.0,167581,754,143,1995,1,...,1.0,NaN,2,NaN,2,NaN,2,NaN,2,NaN
3,3,4,44,5.0,NaN,445071,5705,604,1980,1,...,NaN,NaN,2,NaN,2,NaN,99,NaN,99,NaN
4,4,4,43,NaN,6.0,436161,5645,592,1958,1,...,NaN,NaN,1,NaN,1,NaN,1,NaN,1,NaN

In [39]:
y_train = t_nona["is_female"]
X_train = t_nona.drop("is_female",axis=1)

X_train_input = X_train.values
Y_train_input = y_train.values

logreg = LR()
logreg.fit(X_train_input, Y_train_input)

print(logreg.coef_)

np.mean((logreg.predict(X_train_input)-Y_train_input)**2)

logreg.score(X_train_input, Y_train_input)